# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. TensorFlow

# Objectives:

* Written down the DS tools and languages
* Performed basic arithmetic operations
* Used different mheadings in markdown

## Development Environment Tools for Data Science

|Data Science Tools       |
|:------------------------|
|Jupyter Notebook         |
|RStudio                  |
|VSCode (with extensions) |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers
output = (3*4)+5
output

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Mazhar H (author)